[Unit]
Description=Gunicorn instance for TripPlanner video analysis backend, development server
After=network.target

[Service]
User=ec2-user
Group=nobody
WorkingDirectory=/home/ec2-user/tripplanner-backend/videoanalysis/dev
ExecStart=/home/ec2-user/tripplanner-backend/videoanalysis/dev/venv/bin/gunicorn -b 0.0.0.0:8003 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target