[Unit]
Description=Gunicorn instance for TripPlanner video analysis backend
After=network.target

[Service]
User=ec2-user
Group=nobody
WorkingDirectory=/home/ec2-user/tripplanner-backend/videoanalysis/prod/src
ExecStart=/home/ec2-user/tripplanner-backend/videoanalysis/prod/src/venv/bin/gunicorn -b 0.0.0.0:8002 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target